$bgCol: rgb(8, 11, 15);
// $OrangeCol: #F2AA4CFF;
$OrangeCol: rgb(240, 243, 33);
$OrangeCol: #ff0078;
$whiteCol: #fcf8eb;
$bgCol: #070b14;

.custom-button {
        
        
        width:100%;
        .button {
        background: $whiteCol;
        background: none;
        color: $whiteCol;
        
        min-width:150px;
        
        z-index: 1;
        position: relative;
        display: inline-block;
        max-width:371.96px;
        margin-left: auto;
        height: 52px;
        padding:7px;

        border-radius:200px;
        font-weight:600;

        overflow:hidden;
  
 
		position: relative;
		
        border: 2px solid  $whiteCol;
		transition: color ease-out .5s, border-color ease-out .5s;
		
        // transition-timing-function: ease-in;
        // transition: 0.2s;

        
        // &:hover {

        //     /* This timing applies on the way IN */
        //     transition-timing-function: ease-out;
        //     transition: 0.05s;
        // }


    &::after {
            content: "";
            position: absolute;
            z-index: -1;
            background: $OrangeCol;
            height: 150px;
            width: 150%;
            border-radius: 50%;

            left: -25%;
            bottom:-330%;
            transition: all ease-out .5s;
    }
    
    &:hover {
        color: $bgCol;
 
        border: 2px solid  $OrangeCol;
        &::after {
            bottom: -50px;  
            
        }
    }


    }
}


