.card-vert {
    width: 520px;
    height:800px;
    padding:16px;

    background-image: url(../../img/rect.png);
    background-position: 50% 90%;
    image-rendering: pixelated;
    background-size:1920px;
}

.card-img {

    img {
        width:100%;

    }
}