@import "../../assets/variables";

$w: #f1fcc2;
$b: #009b96;
$p: #ff0077;

$t: 0.3s;
.project {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;

    margin:8px;
    margin-top:0px;

    .project-info-container {
        display:flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        height:100%;
    }
    
    .bg1, .bg2, .bg3 {
        background: #f5f5f0 url(../../img/watercolor-89.jpg) no-repeat;
        background-size: 800px;
        background-position: 120% 440%;
        
        .project-title{
            color:black;
            font: 900 50px 'Spartan', serif;
            line-height: 1em;
            margin-bottom:16px;
            text-transform: uppercase;
            // width: 670px; 
        }

        p {
            color: black;
            max-width: 600px; 
            font: 600 22px 'Spartan', sans-serif;
        }
    
        .spanPink {
            color: $OrangeCol;
            // font-family: 'solway', sans-serif; 
        }
    }
    .hover-hype-text {
        color:$whiteCol;
        background-color: black;
        font: 600 30px 'Solway', sans-serif;

        padding:16px;
        margin: 16px;
        border: 1px black solid;
        width: 320px; 

        text-transform: uppercase;
    }

   
    @media screen and (max-width: 1000px) {
        .bg1, .bg2, .bg3 {
            background: #f5f5f0 url(../../img/watercolor-89.jpg) no-repeat;
            background-size: 800px;
            background-position: 60% 190%;
        }

      
    }

    @media screen and (max-width: 700px) {
        .bg1, .bg2, .bg3{
            .project-title {
                font-size: 40px;
            }
        
            p {
                font: 600 18px 'Spartan', sans-serif;
            }
        }

    }


    transition-property: transform, box-shadow, background-image, background-size, background-position;
    transition-duration: $t;


    a {
        image-rendering: auto;
        overflow: hidden;
        padding: 16px;

        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 290px;
        
 
        position: relative;
        text-align: left;
        outline: 0;
        text-decoration: none;
        color: #000000;

        @media screen and (max-width: 1000px) {
            flex-direction:column;
            height: 400px;
            text-align: center;

            .project-info-container {
                order: 0;
            }
            .background {
                order: 1; 
            }
        }

    

        video {
            position: absolute;
            left:-100px;
            top:-150px;
            object-fit: fill;
        }

        .background {
            padding:16px;

            
            width: 550px;
            min-width: 550px;
            height: 100%;
            -webkit-transition: all $t;
            transition: all $t;

            &.bg1 {
                    
                background: url(../../img2/LeaguePcMobile3d3-min.png);
                background-position: 50% 80%;
                background-repeat: no-repeat;
                background-size: 470px;

            }

            &.bg2 {
                background: url(../../img2/AlgoPcMobile3d22-min.png);
                
                background-position: 50% 80%;
                background-repeat: no-repeat;
                background-size: 470px;

            }

            &.bg3 {
                background: url(../../img2/CrownPcMobile3d2-min.png);
                background-position: 50% 80%;
                background-repeat: no-repeat;
                background-size: 470px;
            }
            
            img {
                width:770px;
                height:100%;
            }

            @media screen and (max-width: 1000px) {
                height:530px;
                &.bg1, &.bg2, &.bg3 {
                    background-size: 400px;
                    background-position: 50% 80%;
                } 

            }

            @media screen and (max-width: 650px) {
                
                &.bg1, &.bg2, &.bg3{
                    
                    background-size: 400px;
                    background-position: 50% 80%;
                } 
            }

            @media screen and (max-width: 490px) {
                
                &.bg1, &.bg2, &.bg3{
                    
                    background-size: 80vw;
                    background-position: 50% 80%;
                } 
            }
        }
    }

    &:hover{
        transform: translateY(-4px);
        box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.8);

        .background {
            &.bg1, &.bg2 {
                background-position: 50% 80%;
                background-repeat: no-repeat;
                background-size: 480px;
            }
            &.bg3 {
                background-position: 50% 80%;
                background-repeat: no-repeat;
                background-size: 480px;
            }
            &.bg1, &.bg2, &.bg3 {
                @media screen and (max-width: 1000px) {
                    background-position-y: 48%;
                }
                @media screen and (max-width: 650px) {
                    background-size: calc(121vw);
                }

            }
        }
    }

    .project-info {
        // transition: all .3s ease;
        opacity:1;
        padding:16px;
        position: relative;
        color: #000000;
        // z-index:1;      
        color: $whiteCol;
    }

    .project-date{
        font-style: italic;
        font-size: 20px;
        margin-bottom: ms(-8);
        line-height: 1.1em;
    }

    
    // .project-title {
    //     font: 500 40px 'Solway', serif;
    //     // font: 900 18px 'spartan', sans-serif;
    //     line-height: 1em;
    //     margin-bottom:32px;
        
    //     text-transform: uppercase;
    // }

    // p {
    //     font-weight: 700;
    // }

    

    h1 {
        color: $OrangeCol2;
        font: 500 90px 'spartan', sans-serif;
        
    }
}

video {
    width: 100%;
    height:80%;
    margin: 0 auto;
}

.modal-content {
    border-radius: 0;
}
.modal-content-body{
    display:flex;
    flex-direction: column;
    // flex-wrap: wrap;
    align-content: flex-start;
    
}

.modal-header {
    display:flex;
    justify-content: center;
    align-content: flex-end;
}

.modal-title {
    color: $OrangeCol2;
    font: 900 45px 'spartan', sans-serif;
    text-transform: uppercase;
   
}
.project-modal {
    width: 90%;
    max-width:1400px;
    margin: 0 auto;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width:1400px;
        margin: 1.75rem auto;
    }
}

.modal-open[style] {
    padding-right: 0px !important;
}

.modal {
    padding-right: 0px !important;
}

.buttonRow {

}

Button {
    margin: 16px 32px 0px 0px;


    font: 900 45px 'spartan', sans-serif;

    font-size: 20px !important;
    border-radius: 0px;

}
.btn-primary, .btn-danger {
    border-radius: 0px;
}

.btn-outline-dark {
    color: #fff !important;
    background-color: #040405;
    border-color: #040405;
    border-radius: 0px;
}


.btn-outline-dark:hover {
    color: #040405;
    background-color: #fff;
    // border-color: #fff;
    border-radius: 0px;
}