@import "../../assets/variables";

$w: #f1fcc2;
$b: #009b96;
$p: #ff0077;


$t: 0.3s;
.project {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    display: block;
    margin:8px;
    
    
    background: #8f6b30 url(../../img/watercolor-82.png);
    background-size:1920px;
    background-position:75% 85%;
 

    transition-property: transform, box-shadow, background-image;
    transition-duration: $t;


    a {
        // margin: 16px 16px;
        image-rendering: auto;
        // border: 4px $yellowCol2 solid;
        // -webkit-font-smoothing: antialiased;
        // text-rendering: optimizeLegibility;
        overflow: hidden;
        padding: 0 16px;

        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 270px;
        
 
        position: relative;
        text-align: left;
        outline: 0;
        // transition: all 0.2s ease;
        text-decoration: none;
        color: #000000;

        // background-color: $bgCol;

        // &.bg1 {
        //     background-color: rgb(84, 60, 107);
        //     background-color: $b;
        // }
        // &.bg2 {
        //     // background-color: rgb(54, 146, 89);
        //     background-color: $p;
        // }
        // &.bg3 {
        //     // background-color: rgb(202, 171, 31);
        //     background-color:  $b;
        // }

           
    video {
        position: absolute;
        left:-100px;
        top:-150px;
        object-fit: fill;
        // width: 600px;
        // height: 100%;
    }

        .background {
            padding:16px;
            // width: 592px;
            // height:100%;
            width: 600px;
            height: 100%;
            // position: absolute;
            &.bg1 {
                    
            -webkit-transition: background-size $t;
            transition: background-size $t;
                // background: url(../../img2/LeagueBanner.png);
                background: url(../../img2/LeaguePcMobile3.png);
                background: url(../../img2/LeaguePcMobile3d1.png);
                
                background-position: 50% 40%;
                background-repeat: no-repeat;
                background-size: 970px;

            }

            &.bg2 {
                background: url(../../img2/LeaguePcMobile5.png);
                background-position: 50% 30%;
                background-size: 650px;

            }

            &.bg3 {
                background: url(../../img2/LeaguePcMobile4.png);
                background-repeat: no-repeat;
                background-position: 65% 95%;
                background-size: 700px;
            }
            
        }



        // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        // filter: grayscale(100%);

        

        // &::after {
        //     // transition: all .3s ease;
        //     background:black;
        //     opacity: 0;
        //     position: absolute;
        //     content:'';
        //     width:100%;
        //     height:100%;
        // }

  
    }

    &:hover{
        transform: translateY(-4px);
        box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.8);
        // background: url(../../img/bigcanvasBackground4.png);
        // background: rgb(13, 50, 94);
        // background-size: 1792px;
        // background-position: center;
        // background: black;

        .background {
            &.bg1 {

                // background: url(../../img2/LeaguePcMobile3d2.png);
                    
                background-position: 50% 40%;
                background-repeat: no-repeat;
                background-size: 1000px;
            }
            
        }
    }

    .project-info {
        // transition: all .3s ease;
        opacity:1;
        padding:16px;
        position: relative;
        color: #000000;
        z-index:1;      
        color: $whiteCol;
    }

    .project-date{
        font-style: italic;
        font-size: 20px;
        margin-bottom: ms(-8);
        line-height: 1.1em;
    }

    .project-title {
        font: 500 40px 'Solway', serif;
        // font: 900 18px 'spartan', sans-serif;
        line-height: 1em;
        margin-bottom:32px;
        color:black;
        text-transform: uppercase;
    }

    p {
        // font: 900 18px 'spartan', sans-serif;

        font: 500 20px 'spartan', sans-serif;
        max-width: 500px;
        

    }

    .spanPink {
        color: $OrangeCol;
        font-weight: 600;
    }

    .hover-hype-text {
        
    }

    h1 {
        color: $OrangeCol2;
        font: 500 90px 'spartan', sans-serif;
        
    }
}
