$w: #f1fcc2;
$b: #009b96;
$p: #ff0077;


.project {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    display: block;

 
    video {
        position: absolute;
        object-fit: fill;
    }

    a {
        
        // border: 16px solid rgb(0, 0, 0);
        // border-bottom:16px;
        margin: 16px;
       
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        overflow: hidden;
        padding: 0 16px;

        display: flex;
        justify-content: center;
        align-items: center;
        // height: calc((100vh - 51px) /3);
        height: 270px;
        // height: 368px;
        // width: 368px;
 

  
        position: relative;
        text-align: left;
        outline: 0;
        transition: all 0.2s ease;
        text-decoration: none;
        color: #000000;
        

        &.bg1 {
            background-color: rgb(84, 60, 107);
            background-color: $b;
        }
        &.bg2 {
            // background-color: rgb(54, 146, 89);
            background-color: $p;
        }
        &.bg3 {
            // background-color: rgb(202, 171, 31);
            background-color:  $b;
        }



        .background {
            padding:16px;
            // width: 592px;
            // height:100%;
            width: 600px;
            height: 100%;
            // position: absolute;
            &.bg1 {
                
                // background: url(../../img2/LeagueBanner.png);
                background: url(../../img2/LeaguePcMobile3.png);
                
                background-position: 60% 50%;
                background-repeat: no-repeat;
                background-size: 570px;
                &:hover {
    
                }
            }

            &.bg2 {
                background: url(../../img2/LeaguePcMobile5.png);
                background-position: 50% 30%;
                background-size: 650px;
                &:hover {
                
                }
            }

            &.bg3 {
                background: url(../../img2/LeaguePcMobile4.png);
                background-repeat: no-repeat;
                background-position: 65% 95%;
                background-size: 700px;
            }
            
        }



        // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        // filter: grayscale(100%);

        

        &::after {
            transition: all .3s ease;
            background:black;
            opacity: 0;
            position: absolute;
            content:'';
            width:100%;
            height:100%;
        }

        // &:hover {
        //     &::after {
        //         opacity: 1;
        //     }
        //     .project-info {
        //         opacity:1;
        //     }
        // }

        // .background {
        //     background-color:red;
        // }
    }


    .project-info {
        transition: all .3s ease;
        opacity:1;
        padding:16px;
        position: relative;
        color: #000000;
        z-index:1;      
        color: $w;
    }

    .project-date{
        font-style: italic;
        font-size: 20px;
        margin-bottom: ms(-8);
        line-height: 1.1em;
    }

    .project-title {
        font: 500 30px 'Solway', serif;
        // font: 900 18px 'spartan', sans-serif;
        line-height: 1.5em;
    }

    p {
        // font: 900 18px 'spartan', sans-serif;

        font: 500 20px 'spartan', sans-serif;
        max-width: 500px;

        span {
            color: $p;
            font-weight: 600;
        }
        margin-bottom:32px;
    }

    .hover-hype-text {
        
    }
}
