@import "../../assets/variables";

$w: #f1fcc2;
$b: #009b96;
$p: #ff0077;

$t: 0.3s;
.project {
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;

    margin:8px;
    margin-top:0px;
    
    .project-info-container {
        display:flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        height:100%;
    }
    
    .bg1, .bg2, .bg3 {
        background: #f5f5f0 url(../../img/watercolor-89.jpg) no-repeat;
        background-size: 800px;
        background-position: 125% 440%;
        
        .project-title{
            color:black;
            font: 900 50px 'Spartan', serif;
            line-height: 1em;
            margin-bottom:16px;
            text-transform: uppercase;
            // width: 670px; 
        }

        p {
            color: black;
            max-width: 600px; 
            font: 600 22px 'Spartan', sans-serif;
        }
    
        .spanPink {
            color: $OrangeCol;
            // font-family: 'solway', sans-serif; 
        }
    }

    .bg2 {
       background: #f5f5f0 url(../../img/watercolor-892.jpg) no-repeat;
       background-size: 800px;
       background-position: 120% 440%;
    }

    .bg3 {
       background: #f5f5f0 url(../../img/watercolor-893.jpg) no-repeat;
       background-size: 800px;
        background-position: 125% 440%;
    }

    .hover-hype-text {
        color:$whiteCol;
        background-color: black;
        font: 600 30px 'Solway', sans-serif;

        padding:16px;
        margin: 16px;
        border: 1px black solid;
        width: 320px; 

        text-transform: uppercase;
    }

   
    @media screen and (max-width: 1000px) {
        .bg1, .bg2, .bg3 {
            background: #f5f5f0 url(../../img/watercolor-89.jpg) no-repeat;
            background-size: 800px;
            background-position: 60% 190%;
        }
        .bg2 {
            background: #f5f5f0 url(../../img/watercolor-892.jpg) no-repeat;
            background-size: 800px;
            background-position: 60% 190%;
         }
     
         .bg3 {
            background: #f5f5f0 url(../../img/watercolor-893.jpg) no-repeat;
            background-size: 800px;
            background-position: 55% 190%;
         }
      
    }

    @media screen and (max-width: 700px) {
        .bg1, .bg2, .bg3{
            .project-title {
                font-size: 40px;
            }
        
            p {
                font: 600 18px 'Spartan', sans-serif;
            }
        }

    }


    transition-property: transform, box-shadow, background-image, background-size, background-position;
    transition-duration: $t;


    .aButton {
        image-rendering: auto;
        overflow: hidden;
        padding: 16px;

        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 290px;
        
        // padding-top:64px;
        position: relative;
        text-align: left;
        outline: 0;
        text-decoration: none;
        color: #000000;

        @media screen and (max-width: 1000px) {
            flex-direction:column;
            justify-content: center;
            align-items: center;
            // align-content: flex-start;
            // justify-content: center;
            // flex-wrap: wrap;
            height: 400px;
            text-align: center;

            .project-info-container {
                order: 0;
                flex:1;
            }
            .background {
                order: 1; 
                flex:1;
            }
        }

    

        video{
            position: absolute;
            left:-100px;
            top:-150px;
            object-fit: fill;
        }

        .background {
            padding:16px;

            
            width: 550px;
            min-width: 550px;
            height: 100%;
            -webkit-transition: all $t;
            transition: all $t;

            &.bg1 {
                    
                background: url(../../img2/LeaguePcMobile3d3-min.png);
                background-position: 50% 80%;
                background-repeat: no-repeat;
                background-size: 470px;

            }

            &.bg2 {
                background: url(../../img2/AlgoPcMobile3d22-min.png);
                
                background-position: 50% 80%;
                background-repeat: no-repeat;
                background-size: 470px;

            }

            &.bg3 {
                background: url(../../img2/CrownPcMobile3d2-min.png);
                background-position: 50% 80%;
                background-repeat: no-repeat;
                background-size: 470px;
            }
            
            img {
                width:770px;
                height:100%;
            }

            @media screen and (max-width: 1000px) {
                height:530px;
                &.bg1, &.bg2, &.bg3 {
                    background-size: 400px;
                    background-position: 50% 80%;
                } 

            }

            @media screen and (max-width: 650px) {
                // width: 450px;
                // min-width: 450px;
                &.bg1, &.bg2, &.bg3{
                    // width:450px;
                    background-size: 400px;
                    background-position: 50% 80%;
                } 
            }

            @media screen and (max-width: 490px) {
                
                &.bg1, &.bg2, &.bg3{
                    
                    background-size: 80vw;
                    background-position: 50% 80%;
                } 
            }
        }
    }

    body.hasHover &:hover{
        transform: translateY(-8px);
        box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.8);

        .background {
            @media screen and (min-width: 1000px) {
                &.bg1, &.bg2 {
                    
                    background-position: 50% 80%;
                    background-repeat: no-repeat;
                    background-size: 480px;
                }
                &.bg3 {
                    
                    background-position: 50% 80%;
                    background-repeat: no-repeat;
                    background-size: 480px;
                }
            }
            // &.bg1, &.bg2, &.bg3 {
            //     @media screen and (max-width: 1000px) {
            //         background-size: 420px;
            //         overflow:visible;
            //         background-position-y: 48%;
            //     }
            //     @media screen and (max-width: 650px) {
            //         background-size: 90%;
            //     }

            // }
        
        }
    }

    .project-info {
        // transition: all .3s ease;
        opacity:1;
        padding:16px;
        position: relative;
        color: #000000;
        // z-index:1;      
        color: $whiteCol;
    }

    .project-date{
        font-style: italic;
        font-size: 20px;
        margin-bottom: ms(-8);
        line-height: 1.1em;
    }

    
    // .project-title {
    //     font: 500 40px 'Solway', serif;
    //     // font: 900 18px 'spartan', sans-serif;
    //     line-height: 1em;
    //     margin-bottom:32px;
        
    //     text-transform: uppercase;
    // }

    // p {
    //     font-weight: 700;
    // }

    

    h1 {
        color: $OrangeCol2;
        font: 500 90px 'spartan', sans-serif;
        
    }
}

video {
    width: 90%;
    height:100%;
    margin: 0 auto;

    @media screen and (max-width: 700px) {
        width: 100%
    }
}

.modal-content {
    border-radius: 0;
}

.modal-content-body{
    display:flex;
    flex-direction: column;
    // flex-wrap: wrap;
    align-content: flex-start;

    p {
        font: 400 44px 'Solway', sans-serif;
        font-size: 18px;
        line-height: 1.4545454545em; 
        color:black;
    }

    a {
        font: 400 44px 'Solway', sans-serif;
        font-size: 18px;
        line-height: 1.4545454545em; 
    }

    h1 {
        font: 500 32px 'Spartan', sans-serif;
        color:black;
        margin-bottom: 8px;
        font-weight:700;
        
    }

    hr {
        border-color: black;
        border-top: 1px black solid;
        width:100%;
        margin: 0;
        margin-top:16px;
    }
}

.modal-header {
    display:flex;
    justify-content: center;
    align-content: flex-end;
    .close {
        padding:16px;
        width:55px;
    }
}

.modal-title {
    color: $OrangeCol2;
    font: 900 22px 'spartan', sans-serif;
    text-transform: uppercase;

}
.project-modal {
    // width: 60%;
    
    max-width:1400px;
    margin: 0 auto;
}
@media (min-width: 576px) {
    .modal-dialog {
        
        max-width:1400px;
        margin: 1.75rem auto;
    }
}
.modal-backdrop.show {
    opacity: 0.9;
}
.modal-open[style] {
    padding: 0px !important;
}

.modal {
    padding-right: 0px !important;
}

.buttonRow {
 margin: auto;

    
    Button, a {
        margin: 16px;

        padding:16px;
        font: 400 35px 'spartan', sans-serif;
        text-transform: uppercase;
        font-size: 20px !important;
        // border-radius: 0px;
        width:220px;
        // border: 2px black solid;
    }
    .btn-primary, .btn-danger {
        // border-radius: 0px;
    }

    .btn-outline-dark {
        color: #fff !important;
        background-color: #040405;
        border-color: #040405;
        // border-radius: 0px;
    }


    body.hasHover .btn-outline-dark:hover {
        color: #040405;
        background-color: #fff;
        // border-color: #fff;
        // border-radius: 0px;
    }
}
