$bgCol: rgb(8, 11, 15);
$OrangeCol: #F2AA4CFF;
$whiteCol: #fcf8eb;
$bgCol: #070b14;
// $bgCol: rgb(12, 11, 11);
// $OrangeCol: #E94B3CFF;


.main-banner {
    background: $bgCol  no-repeat;
    // background: #214261 url('../../img/main-banner-bg@2x.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    // padding: 32px 9.39535% 64px;
    padding: 16px 9.39535% 64px;
    position: relative;
    text-align: center;
    // transform:translateY(-22px);\
    height: calc(100vh - 0px);


   


    .nav {
        background: $bgCol  no-repeat;
        position: static;

        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        h1 {
            margin-left:30px;
            text-transform: uppercase;
            font: 200 22px 'Spartan', sans-serif;
            color: $whiteCol;
        }
    }
    header {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // margin-bottom: 32px;
        position: relative;
        z-index: 1;
        margin-top:-20px;
        h1 {
            // text-align: left;
            // font: 100 70px 'Solway', serif;
            font: 400 25px 'Spartan', sans-serif;
            font-weight:400;
    
            color: $whiteCol;
            text-align:left;
            transform: translateY(-20px);
        }
        
        .contact-link {
            text-transform: uppercase;
            font: 400 18px 'Spartan', sans-serif;
            letter-spacing: .08em;
            line-height: 1.5em;
            color: $whiteCol;
        }

        .logo-container {

            width: 150px;
            height: 150px;
    
            svg {
                pointer-events:none;
                width: 230px;
                
                position: absolute;
                left: 50%;
                margin-left: -115px;
                margin-top: -120px;
            }
        }
    }

    .main-banner-content {
        margin: 0 auto;
        width: 100%;
       
        max-width: 772px;
        position: relative;
        
        display:flex;
        justify-content: space-around;
        
        background:
        linear-gradient(to right, black 4px, transparent 4px) 0 0,
        linear-gradient(to right, black 4px, transparent 4px) 0 100%,
        linear-gradient(to left, black 4px, transparent 4px) 100% 0,
        linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
        linear-gradient(to bottom, black 4px, transparent 4px) 0 0,
        linear-gradient(to bottom, black 4px, transparent 4px) 100% 0,
        linear-gradient(to top, black 4px, transparent 4px) 0 100%,
        linear-gradient(to top, black 4px, transparent 4px) 100% 100%;
    
      background-repeat: no-repeat;
      background-size: 20px 20px;
        h1 {
            text-align: center;
         
            color: $whiteCol;
            font: 200 50px 'Solway', serif;
            
            // font: 900 40px 'Spartan', sans-serif;
            letter-spacing: 0.03em;
            line-height: 1.2727272727em;
            margin-bottom: 16px;

            .span1 {
                font: 400 16px 'Spartan', sans-serif;
                // font: 200 22px 'Solway', serif;
                
            }
            .span2 {
                font: 300 40px 'Spartan', sans-serif;
                // font: 200 22px 'Solway', serif;
            
            }
        }

        p {
            font: 400 20px 'Spartan', sans-serif;
            color: $OrangeCol;
            margin: 0 auto 40px auto;
            width: 63.33333333%;
            font-style: italic;
            line-height: 1.4545454545em; 
            // text-align:left;
        }

        .title-container {
            height:100%;
        }

        .brackets {
            visibility: hidden;
            h1 {
                // font: 100 60px 'Spartan', sans-serif;
                font: 300 160px 'Spartan', sans-serif;
                // font-family: 'Lato', sans-serif;
                transform: translateY(-20px);
                // opacity: 1;
            }
        }
    }

    .icon-container {
        
        display:flex;
        justify-content: center;
        margin: 0 auto 32px auto;
        
    }
    .social-icon {
        // position:absolute;
        // margin:16px;
        // margin-top:16px;
        width:52px;
        height:52px;
    }
    
    hr {
        color: $whiteCol;
        border-top:0px;
        border-style: dashed;
        margin-bottom:32px;
        opacity: 0.3;
        width:60%;
    }
    .social-container {
        display:flex;
        justify-content: space-around;
        // flex-direction: column;
        width:50%;
        margin: 0 auto;
        margin-top:8px;
        
        .small {
            max-width:120px;
        }

    }
  
}

.circle-container {
    background-size: 161px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    
}

.big-circle {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.big-circle img {
    animation: big-spin 120s linear infinite;
}

@keyframes big-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

$cornerWidth: 1px;
$cornerDist: 0px;
.hero-corner {
    top: $cornerDist;
    right: $cornerDist;
    z-index: 21;
    border-top: $cornerWidth solid;
    border-right: $cornerWidth solid;
}

.hero-corner2 {
    top: $cornerDist;
    left: $cornerDist;
    border-top: $cornerWidth solid;
    border-left: $cornerWidth solid;
}

.hero-corner3 {
    bottom: $cornerDist;
    right: $cornerDist;
    border-bottom: $cornerWidth solid;
    border-right: $cornerWidth solid;
}

.hero-corner4 {
    bottom: $cornerDist;
    left: $cornerDist;
    z-index: 21;
    border-left: $cornerWidth solid;
    border-bottom: $cornerWidth solid;
}



.hero-corner, .hero-corner2, .hero-corner3, .hero-corner4 {
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 21;
    border-color: $whiteCol;
    // border-radius: 2px;
}