$bgCol: #070b14;


.main-banner {
    background: $bgCol  no-repeat;
    // background: #214261 url('../../img/main-banner-bg@2x.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    // padding: 32px 9.39535% 64px;
    padding: 0px 9.39535% 64px;
    position: relative;
    text-align: center;
    // transform:translateY(-22px);
    

    .nav {
        background: $bgCol  no-repeat;
        position: static;

        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        h1 {
            margin-left:30px;
            text-transform: uppercase;
            font: 200 22px 'Spartan', sans-serif;
            color: #faf7eb;
        }
    }
    header {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // margin-bottom: 32px;
        position: relative;
        z-index: 1;
        margin-top:-20px;
        h1 {
            // text-align: left;
            // font: 100 70px 'Solway', serif;
            font: 400 25px 'Spartan', sans-serif;
            font-weight:400;
    
            color: #faf7eb;
            text-align:left;
            transform: translateY(-20px);
        }
        
        .contact-link {
            text-transform: uppercase;
            font: 400 18px 'Spartan', sans-serif;
            letter-spacing: .08em;
            line-height: 1.5em;
            color: #faf7eb;
        }

        .logo-container {

            width: 150px;
            height: 150px;
    
            svg {
                pointer-events:none;
                width: 230px;
                
                position: absolute;
                left: 50%;
                margin-left: -115px;
                margin-top: -120px;
            }
        }
    }

    .main-banner-content {
        margin: 0 auto;
        width: 100%;
       
        max-width: 772px;
        position: relative;
        
        display:flex;
        justify-content: space-around;
        

        h1 {
            text-align: center;
         
            color: #faf7eb;
            font: 200 50px 'Solway', serif;
            
            // font: 900 40px 'Spartan', sans-serif;
            letter-spacing: 0.03em;
            line-height: 1.2727272727em;
            margin-bottom: 16px;

            .span1 {
                font: 400 16px 'Spartan', sans-serif;
                // font: 200 22px 'Solway', serif;
                
            }
            .span2 {
                font: 300 40px 'Spartan', sans-serif;
                // font: 200 22px 'Solway', serif;
            
            }
        }

        p {
            font: 400 20px 'Spartan', sans-serif;
            color: #dbbd7f;
            margin: 0 auto 40px auto;
            width: 63.33333333%;
            font-style: italic;
            line-height: 1.4545454545em; 
            // text-align:left;
        }

        .title-container {
            height:100%;
        }
        .brackets {
            visibility: hidden;
            h1 {
                // font: 100 60px 'Spartan', sans-serif;
                font: 300 160px 'Spartan', sans-serif;
                // font-family: 'Lato', sans-serif;
                transform: translateY(-20px);
                // opacity: 1;
            }
        }
    }

    .icon-container {
        
        display:flex;
        justify-content: center;
        margin: 0 auto 32px auto;
        
    }
    .social-icon {
        // position:absolute;
        // margin:16px;
        // margin-top:16px;
        width:52px;
        height:52px;
        
        
    }
    
    hr {
        color: #faf7eb;
        border-top:0px;
        border-style: dashed;
        margin-bottom:32px;
        opacity: 0.3;
        width:60%;
    }
    .social-container {
        display:flex;
        justify-content: space-around;
        // flex-direction: column;
        width:50%;
        margin: 0 auto;
        margin-top:8px;
        
        .small {
            max-width:120px;
        }

        // .brackets {
        //     h1 {
        //         color:#faf7eb;
               
        //         font: 600 160px 'Spartan', sans-serif;
               
        //         transform: translateY(-80px);
        //     }
        // }
    }
  

    // .button {
    //     // background: #faf7eb;
    //     background: none;
    //     // color: #020d16;
    //     color: #faf7eb;
    //     // border: 1px #faf7eb solid;
    //     z-index: 1;
    //     position: relative;
    //     display: block;
    //     margin: 0 auto;

    //     svg {
    //         width:32px;
    //         height:32px;
            
    //     }
    // }

}

.circle-container {
    background-size: 161px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    
}

.big-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.big-circle img {
    animation: big-spin 120s linear infinite;
}

@keyframes big-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}