$bgCol: #070b14;
$whiteCol: #faf7eb;

.navbar {
    // position:fixed;
    // top:0;
    // left:0;
    // width:100%;

    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    background-color: $bgCol;
    align-content:center;
    text-align: center;
    transform: translateY(-6px);
    z-index:10;
    
    a {
        font-size: 16px;
        font-weight:400;
        color: $whiteCol;
        padding: 16px 16px;
        position:relative;

        z-index:1;

        display: inline-block;

        &::after {
            position:absolute;
            content:'';
            left: 50%;
            bottom: 15px;
            width:0%;
            height:0%;
            background-color:$whiteCol;
            z-index:-1;
            // transition: all ease 0.1s;
        }

        &:hover {
            // color:black;

            &::after {
                height:2%;
                left: 10%;
                width: 80%;
                // transition: all ease 0.05s;
            }
          
        }
    }
    
}