$OrangeCol2: rgb(0, 0, 8);
$cardBg: rgb(4, 4, 19);
$OrangeCol: #ff0078;
// $whiteCol: #fcf8eb;
$whiteCol: #fdfff0;
$yellowCol: #f3fbc0;

// $bgCol: #070b14;
$purple: #4d1a4c;
$bgCol: #0c010c;
// $purpleDark: #0f030f;

$gap1: 32px;
$gap2: 8px;